html, 
body,

#map-canvas { 
	height: 100%; 
	padding: 0;
	margin: 0;
}
      
#control-group { 
	position: absolute; 
	top: 10px; 
	left: 10px; 
	z-index: 1; 
}
      
#restaurants-list { 
	position: absolute; 
	top: 50px; 
	left: 10px; 
	z-index: 1; 
}

#search-radius {
	width: 75px;
}